/*
Comentando
*/
body{
	font-family: tahoma;
	color:white;
	background-color: green;
}
p{
	text-align: justify;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 10px;
	
}
h1{
	text-align: right;
	text-transform: uppercase;
}

.cabecalho
{
	text-align: center;
}

.rodape
{
	text-align: right;
	font-style: italic;
	color:gray;
}